body {
    background-color: #f8f8f8;
}
#app_window {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#main_content {
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    margin: 0;
    background-color: transparent;
    padding-bottom: 100px;
    overflow: auto;
}
.main_menu_fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}
.main_help {
    position: absolute;
    right: 20px;
    top: 5px;
}
.checklist_checkbox {
    display: block;
    padding: 10px;
}
